name: ASCII WORKFLOW

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        
        - name: Running the script
          run: |
            chmod +x ascii-generate.sh
            ./ascii-generate.sh
        

