name: My First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        
        - name: My first GitHub workflow
          run: echo "Welcome to GitHub Actions"
        
        - name: list files
          run: ls
        
        - name: read file
          run: cat README.md
